/* src/pages/LandingPage.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-container {
  height: 100vh;
  width: 100%;
}

.landing-background {
  background-image: url("/images/landingpage-bg.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  margin-top: 100px;
  background-color: rgba(0, 50, 0, 0.6);
  padding: 3rem;
  border-radius: 10px;
  border: solid 2px goldenrod;
  text-align: center;

  color: white;
  -webkit-text-stroke: 0.1px black;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  letter-spacing: 2px;
}

.company-name {
  font-size: 3rem;
  margin-bottom: 1.3rem;
}

.company-description {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.get-started-btn {
  background-color: #4caf50;
  color: white;
  padding: 1rem 2rem;
  border: solid 1px goldenrod;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.get-started-btn:hover {
  background-color: #45a049;
}
